input{
    margin-bottom: 5px;
    padding: 7px 12px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
  }
  .button {
    margin-left: 10px;
    padding: 4px 11px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
  }
  .button:hover {
    outline: none;
    background-color: #555;
  }

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(48, 48, 48) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}


.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  /* overflow-y: scroll; */
  height: 802px;
}

.movie-list {
 display: grid;
 display: grid;
 grid-template-columns: 1fr 1fr;
  height: 90%;
  overflow-y: scroll;
  gap:10px
  /* transform: translateX(0); */
  /* transition: all 1s ease-in-out;
    /* transition: all 1s ease-in-out; */
}

.movie-list-item {
  margin-bottom: 30px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 500px;
  padding: 10px;
  /* background-color: aliceblue; */
  /* display: flex; */
  /* align-items: center; */
  padding: 7px 30px;
  background-color: rgb(38 37 37);
  border-radius: 14px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.main-div{
  width: 80%;
}
.search-div{
  display: flex;
  justify-content: flex-end;
}
.first-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}
.movie-details-img{
  transition: all 1s ease-in-out;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
}
.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px;
  margin: 10px;
}
.movie-details-title{
  font-size: 24px;
  font-weight: bold;
}
.rating-box{
  margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.comment-div{
  display: block;
  /* position: relative; */
  width: 95%;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #fffefe;
  border-radius: 3px;

}
.comment{
  display: flex;
  align-items: center;
  padding: 7px 30px;
  background-color: rgb(38 37 37);
  border-radius: 80px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.comment-section{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.comment-input{
  margin-bottom: 5px;
    padding: 7px 12px;
    border: none;
    background-color: white;
    color:black;
    font-size: 16px;
    border-radius: 30px;
    /* box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63); */
}
.movie-list-item-title {
  /* background-color: #333; */
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  /* position: absolute;
    top: 10%;
    left: 50px; */
}
.detail-section{
  display: flex;
  flex-direction: row;
  color: white;
  margin: 10px;
}
.detail-section-label{
  display: flex;
  flex-direction: row;
  color: #4262e1;
  font-weight: bold;
  margin-right: 5px;
}
.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  /* position: absolute;
    top: 30%;
    left: 50px; */
  width: 230px;

}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  /* position: absolute;
    bottom: 20px;
    left: 50px; */

}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}

.model {
  display: none;
  /* Hide the model by default */
  position: fixed;
  /* Fixed position to overlay the entire page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black background */
}

/* Style for the model content */
.model-content {

  background-color: rgb(33, 33, 33);
  color: #fff;
  font-size: 16px;
  box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);

  /* background-color: white; */
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 500px;
  height: 81%;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}

.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.stars i.active {
  color: #ff9c1a;
}